# Core dependencies
pandas
pydantic
openpyxl
numpy
statsmodels

# AI/ML and NLP libraries
openai
# transformers
# huggingface_hub
sentencepiece
scikit-learn
spacy
instructor
# llama_index
# llama-index-graph-stores-neo4j
anthropic
google-generativeai
tiktoken
humanize

# Graph, DB, and RDF libraries
agraph-python
# networkx
# pygraphviz
rdflib
defusedxml
duckdb

# Visualization libraries
matplotlib
plotly
seaborn
XlsxWriter
#xelatex
missingno

# # Web scraping and diffing
# beautifulsoup4
# deepdiff

# Miscellaneous utilities
inflect
pyyaml
jsonref
jellyfish
python-dotenv
natsort

# Jupyter environment
jupyterlab
streamlit

# Additional notes:
# pygraphviz depends on sudo apt-get install graphviz graphviz-dev
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
